.mapa{
    grid-column: 2;
}

.dados{
    grid-column: 3;
}

.dados li{
    margin-bottom: 1rem;
}

.dados li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #7EA656;
}


.copy{
    grid-column: 3 / 5;
    margin-bottom: 2rem;
    background-color: #7EA656;
}

.copy p{
    padding: 20px;
}