.faq-lista{
    grid-column: 2 / 4;
}

.faq-lista dt{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #3B7302;
}

.faq-lista dt:hover{
    cursor: pointer;
}

.faq-lista dt::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: #7EA656;
}

.faq-lista dd{
    margin-bottom: .5rem;
    margin-left: 30px;
}